@charset "UTF-8";

/* Todas as demais mídia*/

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 601px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

/*Impressão*/
@media print {
    
* {
        font-family: 'Courier New', 
    }

main {
        border: 2px solid black;
    }

main h1{
        text-shadow: none;
        color: black;
    }

main::after {
    content: 'Essa impressão foi feita por Luan Borja';
    text-decoration: underline;
}
#phone {
    display: none;
}

#tablet {
    display: none;
}

#print {
    display: block;
}

#pc {
    display: none;
}

#tv {
    display: none;
}
    
}
/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../back-tablet.jpg);
     }
#phone {
    display: none;
}

#tablet {
    display: block;
}

#print {
    display: none;
}

#pc {
    display: none;
}

#tv {
    display: none;
}
 }
    
/*Desktop*/
@media screen and (min-width: 992px) and (max-width: 1200px) {

    body {
        background-image: url(../back-pc.jpg);
    }
  

#phone {
    display: none;
}

#tablet {
    display: none;
}

#print {
    display: none;
}

#pc {
    display: block;
}

#tv {
    display: none;
}
}
/*Telas Grandes*/
@media screen and (min-width: 1200px) {

    body {
        background-image: url(../back-tv.jpg);
    }

#phone {
    display: none;
}

#tablet {
    display: none;
}

#print {
    display: none;
}

#pc {
    display: none;
}

#tv {
    display: block;
}
    
}